# python==3.8 # Do not include this as we already set python-version in .github/workflow/test.yml
numpy
pandas
scikit-learn
pytest
requests
fastapi==0.65.2
uvicorn
gunicorn
flake8
dvc[s3]
# dvc-s3 # This is for conda install. For pip install, this should be dvs[s3]
# jupyter
# jupyterlab